.pattern
  - if @pattern.previous
    = link_to '&laquo;'.html_safe, [@session, @pattern.previous], class: 'pattern--previous' 
  - if @pattern.next
    = link_to '&raquo;'.html_safe, [@session, @pattern.next], class: 'pattern--next' 
  .pattern--pixels{:style => @pattern.inline_css}
    - if @card
      = link_to 'Select', edit_session_card_path(@session, @card, pattern_id: @pattern.id), class: 'pattern--select'
