.side
  
  .side--items
    - @cards.each do |card|
      %a.side--item{'href' => session_card_path(@session, card), 'up-target' => '.main', 'up-transition' => 'cross-fade'}
        = card.title
  
  - if @cards.next_page
    %a.side--more{'href' => session_cards_path(@session, page: @cards.next_page), 'up-target' => '.side--items:after, .side--more', 'up-history' => 'false'}
      More cards

.main
  .card
    .card--head{style: @card.pattern_css}
      .card--title
        = @card.title
      .card--edit
        = link_to 'Edit', [:edit, @session, @card], class: 'action is-blue', 'up-target' => '.screen', 'up-transition' => 'move-left'
    .card--body
      = simple_format @card.body
