.side
  - @cards.each do |card|
    %a.side--item{'href' => session_card_path(@session, card), 'up-target' => '.main', 'up-transition' => 'cross-fade'}
      = card.title
  .side--more
    More

.main
  .card
    .card--pattern{style: @card.pattern_css}
      .card--title
        = @card.title
    .card--body
      = simple_format @card.body
